#search-section {
    position: relative;
    width: 100%;
    height: 640px;
}

.search-container {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 140px;
    max-width: 1440px;
    height: 640px;
}

.background-container {
    position: absolute;
    height: 640px;
    left: 0px;
    right: 0px;
    top: 0.4px;
    background: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background-gradient {
    position: absolute;
    height: 639.91px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: linear-gradient(78.78deg, #114F8B -3.12%, #2A9AD7 103.77%);

}

.search-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    z-index: 1;
}

.search-maintitle {
    padding-top: 100px;
    height: 67px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 67px;
    /* identical to box height, or 110% */
    text-align: center;
    /* Studio / Darkmode / Allwhite #FFFFFF */
    color: #FFFFFF;
}

.search-subtitle {
    width: 100%;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #FFFFFF;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 158px;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 1;

}

.form-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 48px;
    justify-content: space-between;
}

.form-inputs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    max-width: 1120px;
    height: 66px;

}

.search-flights {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #303030;
}

.flight-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    max-width: 300px;
    height: 38px;
    justify-content: space-between;
}

.radio-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: relative;
    height: 38px;
}

.flight-options-label {
    width: 72.53px;
    height: 24px;

    /* Typography/Body 1 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: 0.15px;

    color: rgba(48, 48, 48, 0.87);
}

.flight-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38px;
}

.radio-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    width: 38px;
    height: 38px;
    border-radius: 19px;
}

.radio-input {
    width: 20px;
    height: 20px;
}